/* ----------------------- */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: aliceblue;
}

.container {
    width: 1200px;
    margin: 40px auto;
    background-color: #fff;
    box-shadow: 10px 10px 10px #ddd;
    padding: 20px;

}

.title {
    border-bottom: 2px solid darkturquoise;
    padding: 10px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.cat-list {
    width: 30%;
    margin-top: 50px;
}

.movie-list {
    width: 70%;
    padding: 50px;
}

.cat-list a {
    padding: 5px 10px;
    border: 1px solid #ddd;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}


.cat-list a:hover {
    background-color: antiquewhite;
}

.main-content {
    display: flex;
    justify-content: center;
}




.movie_card {
    position: relative;
    display: block;

    height: 350px;
    margin: 80px auto;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;
    box-shadow: 10px 10px 10px #ddd;
    /* box-shadow: 0px 0px 120px -25px rgba(0, 0, 0, 0.5); */
}

.movie_card:hover {
    transform: scale(1.02);
    /* box-shadow: 0px 0px 80px -25px rgba(0, 0, 0, 0.5); */
    transition: all 0.4s;
}

.movie_card .info_section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
}

.movie_card .info_section .movie_header {
    position: relative;
    padding: 25px;
    height: 40%;
}

.movie_card .info_section .movie_header h1 {
    color: black;
    font-weight: 400;
}

.movie_card .info_section .movie_header h4 {
    color: #555;
    font-weight: 400;
}

.movie_card .info_section .movie_header .minutes {
    display: inline-block;
    margin-top: 15px;
    color: #555;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.minutes {
    background-color: tomato;
    color: #fff !important;
}

.movie_card .info_section .movie_header .type {
    display: inline-block;
    color: #959595;
    margin-left: 10px;
}

.movie_card .info_section .movie_header .locandina {
    position: relative;
    float: left;
    margin-right: 20px;
    height: 120px;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}

.movie_card .info_section .movie_desc {
    padding: 25px;
    height: 50%;
}

.movie_card .info_section .movie_desc .text {
    color: #545454;
}

.movie_card .info_section .movie_social {
    height: 10%;
    padding-left: 15px;
    padding-bottom: 20px;
}

.movie_card .info_section .movie_social ul {
    list-style: none;
    padding: 0;
}

.movie_card .info_section .movie_social ul li {
    display: inline-block;
    color: rgba(0, 0, 0, 0.3);
    transition: color 0.3s;
    transition-delay: 0.15s;
    margin: 0 10px;
}

.movie_card .info_section .movie_social ul li:hover {
    transition: color 0.3s;
    color: rgba(0, 0, 0, 0.7);
}

.movie_card .info_section .movie_social ul li i {
    font-size: 19px;
    cursor: pointer;
}

.movie_card .blur_back {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    right: 0;
    background-size: cover;
    border-radius: 11px;
}

@media screen and (min-width: 768px) {
    .movie_header {
        width: 65%;
    }

    .movie_desc {
        width: 50%;
    }

    .info_section {
        background: linear-gradient(to right, aliceblue 50%, transparent 100%);
    }

    .blur_back {
        width: 80%;
        background-position: -100% 10% !important;
    }
}

@media screen and (max-width: 768px) {
    .movie_card {
        width: 95%;
        margin: 70px auto;
        min-height: 350px;
        height: auto;
    }

    .blur_back {
        width: 100%;
        background-position: 50% 50% !important;
    }

    .movie_header {
        width: 100%;
        margin-top: 85px;
    }

    .movie_desc {
        width: 100%;
    }

    .info_section {
        background: linear-gradient(to top, aliceblue 50%, transparent 100%);
        display: inline-grid;
    }
}

header {
    background-image: url(./hero-bg.jpg);
    padding: 250px;

    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.74);
    /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    opacity: 1;
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 230px;
}

header input,
button {
    padding: 30px;
    margin: 10px;
    border: none;
    border-radius: 45px;

}

header input {
    width: 50%;
    background-color: white;
}

header button {
    background-color: tomato;
    color: #fff;
    cursor: pointer;
}


/* --------------------- */
#details {
    display: none;
}

.movie-card-2 {
    font: 14px/22px "Lato", Arial, sans-serif;
    color: #A9A8A3;
    padding: 40px 0;
}

.container2 {
    margin: 0 auto;
    width: 780px;
    height: 800px;
    background: #F0F0ED;
    border-radius: 5px;
    position: relative;
}

.hero {
    height: 342px;
    margin: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #F0F0ED;
}

.hero:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background: #F0F0ED;
    z-index: -1;
    transform: skewY(-2.2deg);
    transform-origin: 0 0;
    -webkit-backface-visibility: hidden;

}

.cover {
    position: absolute;
    top: 160px;
    left: 40px;
    z-index: 2;
}

.details {
    padding: 190px 0 0 280px;
}

.details .title1 {
    color: white;
    font-size: 44px;
    margin-bottom: 13px;
    position: relative;
    text-shadow: #000 2px 2px 2px;
}

.details .title1 span {
    position: absolute;
    top: 3px;
    margin-left: 12px;
    background: #C4AF3D;
    border-radius: 5px;
    color: #544C21;
    font-size: 14px;
    padding: 0px 4px;
}

.details .title2 {
    color: #C7C1BA;
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 15px;
}

.details .likes {
    margin-left: 24px;
}

.details .likes:before {
    content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/icon_like.png");
    position: relative;
    top: 2px;
    padding-right: 7px;
}

.description {
    bottom: 0px;
    height: 200px;
    font-size: 16px;
    line-height: 26px;
    color: #B1B0AC;
}

.column1 {
    padding-left: 50px;
    padding-top: 120px;
    width: 220px;
    float: left;
    text-align: center;
}

.tag {
    background: white;
    border-radius: 10px;
    padding: 3px 8px;
    font-size: 14px;
    margin-right: 4px;
    line-height: 35px;
    cursor: pointer;
}

.tag:hover {
    background: #ddd;
}

.column2 {
    padding-left: 41px;
    padding-top: 30px;
    margin-left: 20px;
    width: 480px;
    float: left;
}

.avatars {
    margin-top: 23px;
}

.avatars img {
    cursor: pointer;
}

.avatars img:hover {
    opacity: 0.6;
}

.avatars a:hover {
    text-decoration: none;
}

fieldset,
label {
    margin: 0;
    padding: 0;
}

/****** Style Star Rating Widget *****/
.rating {
    border: none;
    float: left;
}

.rating>input {
    display: none;
}

.rating>label:before {
    margin: 5px;
    margin-top: 0;
    font-size: 1em;
    font-family: FontAwesome;
    display: inline-block;
    content: "";
}

.rating>.half:before {
    content: "";
    position: absolute;
}

.rating>label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.rating>input:checked~label,
.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: #FFD700;
}

/* hover previous stars in list */
.rating>input:checked+label:hover,
.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
.rating>input:checked~label:hover~label {
    color: #FFED85;
}

a[data-tooltip] {
    position: relative;
}

a[data-tooltip]::before,
a[data-tooltip]::after {
    position: absolute;
    display: none;
    opacity: 0.85;
}

a[data-tooltip]::before {
    /*
   * using data-tooltip instead of title so we 
   * don't have the real tooltip overlapping
   */
    content: attr(data-tooltip);
    background: #000;
    color: #fff;
    font-size: 13px;
    padding: 5px;
    border-radius: 5px;
    /* we don't want the text to wrap */
    white-space: nowrap;
    text-decoration: none;
}

a[data-tooltip]::after {
    width: 0;
    height: 0;
    border: 6px solid transparent;
    content: "";
}

a[data-tooltip]:hover::before,
a[data-tooltip]:hover::after {
    display: block;
}

/** positioning **/
/* top tooltip */
a[data-tooltip][data-placement=top]::before {
    bottom: 100%;
    left: 0;
    margin-bottom: 40px;
}

a[data-tooltip][data-placement=top]::after {
    border-top-color: #000;
    border-bottom: none;
    bottom: 50px;
    left: 20px;
    margin-bottom: 4px;
}

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));

    background: -webkit-radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 150ms infinite linear;
    -moz-animation: spinner 150ms infinite linear;
    -ms-animation: spinner 150ms infinite linear;
    -o-animation: spinner 150ms infinite linear;
    animation: spinner 150ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}